body {
    background: rgba(100, 148, 237, 0.527);
}

.form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
}
.btn {
    margin-top: 5px;
}