.section__defaul {
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
}

.btn {
    margin-top: 10px;
}

.text-primary {
    margin-top: 20px;
    margin-bottom: 5px;
}

.title {
    margin-top: 20px;
}
