*{
    text-align: center;
}

.center {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.box {
    margin-top: 120px;
    display: inline-block;
    padding: 15px;
    width: 20%;
}

.card-title {
    background-color: black;
    border-radius: 10px;
}

.material-icons {
    margin: 20px;
}

